@()

@main("The simple URL shortener - About") {
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, neque eget ullamcorper tristique, orci leo egestas magna, commodo ullamcorper turpis tellus vel elit. Praesent a egestas enim. Vivamus et massa non dolor ullamcorper ultricies in non libero. Donec ultricies sodales neque in eleifend. Suspendisse potenti. Curabitur dignissim, orci eu convallis vehicula, libero ligula sodales arcu, vitae consectetur erat lacus a neque. Fusce sit amet tellus ut augue aliquam pretium et id ligula. Vivamus lobortis, lectus quis vulputate congue, justo velit varius massa, eu adipiscing enim tortor convallis diam. Sed feugiat eros eu justo consectetur quis molestie elit iaculis. Suspendisse sit amet dolor mauris, vel mollis libero. Donec congue erat sed arcu laoreet vel rhoncus leo pellentesque.
</p>
} 